body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: 0;
}
.sidebar {
    width: 20%;
    float: left;
    background: #ddd;
    padding: 10px;
    height: 100vh;
}
.sidebar a {
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 10px;
    background: white;
    border: 1px solid #ccc;
    text-decoration: none;
    color: black;
    text-align: center;
    box-sizing: border-box;
}
.sidebar a:hover {
    background: #ccc;
}
.content {
    width: 75%;
    float: right;
    padding: 20px;
}

.btn {
    padding: 10px 15px;
    background: green;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
.actions img {
    width: 20px;
    margin: 5px;
    cursor: pointer;
}

.info {
    display: flex;
}

.info .btn {
    margin-left: auto;
}

.btn:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.actions {
    gap: 10px;
}
.back-btn {
    color: black;
    text-decoration: none;
    font-size: 24px;
    margin-top: 20px;
    display: grid;
}
.back-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}